<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="escola ? '/escola/' + escola.id : '/'"  ></ion-back-button>
    </ion-buttons>
    <ion-title>Turma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!loading && !error">

    <h1  *ngIf="form">Dados da Turma</h1>

    <!-- formulário turma -->
    <form *ngIf="form" [formGroup]="form" class="form-escola">

      <mat-form-field class="campo">
        <mat-label>Numero</mat-label>
        <input matInput type="text" formControlName="numero" >
      </mat-form-field>

      <mat-form-field class="campo">
        <mat-label>Serie</mat-label>
        <input matInput type="number" formControlName="serie" >
      </mat-form-field>

      <mat-checkbox  class="campo" formControlName="ativa">Ativa</mat-checkbox>

    </form>

    <!-- controles turma -->
    <ion-toolbar>
      <ion-button
        ion-button
        shape="round"
        fill="clear"
        type="button"
        color="dark"
        class="ion-margin"
        (click)="resetarFormulario()">
        Desfazer
      </ion-button>

      <ion-button
        ion-button
        shape="round"
        fill="clear"
        type="button"
        color="primary"
        class="ion-margin"
        (click)="salvarFormulario()">
        Salvar
      </ion-button>

    </ion-toolbar>

    <!-- toolbar alunos -->
    <ion-toolbar *ngIf="this.turmaId">
      <ion-title>Alunos</ion-title>
      <ion-button
        ion-button
        slot="end"
        shape="round"
        fill="clear"
        type="button"
        color="dark"
        class="ion-margin"
        (click)="criarAluno()">
        <ion-icon name="add-sharp"></ion-icon>
      </ion-button>

    </ion-toolbar>

    <!-- campo busca alunos -->
    <ion-searchbar
      *ngIf="turmaId && alunos && alunos.length && turma && turma.id"
      [(ngModel)]="textoBusca"
      placeholder="Buscar Alunos"
      (ionChange)="filtraAlunos()"
    ></ion-searchbar>

    <!-- lista de alunos -->
    <ion-list *ngIf="turmaId && alunos && alunos.length && turma && turma.id">

      <!-- item aluno -->
      <ion-item
        *ngFor="let aluno of alunosFiltrados"
        [ngClass]="['hoverable', 'pointable']"
        (click)="abrirModalAluno(aluno)">

        <!-- conteúdo do item escola -->
        <div class="conteudo-item">

          <!-- nome -->
          <div class="nome">{{ aluno.nome }}</div>

          <!-- matrícula -->
          <div class="matricula">Matrícula: {{ aluno.matricula }}</div>

          <!-- fone -->
          <div class="fone">{{ aluno.fone }}</div>

          <!-- email -->
          <div class="email">{{ aluno.email }}</div>

        </div>

      </ion-item>
      <!-- fim do item de turma -->

    </ion-list>
    <!-- fim da lista de turmas -->

  </div>

  <div *ngIf="error && !loading">{{error}}</div>
  <div *ngIf="loading">Carregando...</div>
</ion-content>
