<ion-header>
  <ion-navbar>
    <ion-title>Turma</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading && !error">

    <h1>Dados da Turma</h1>

    <div class="dados-turma">
      <div class="item-dados-turma"></div>
    </div>
    <div class="dados-turma">
      <div class="nome chave">Número:</div>
      <div class="nome valor">{{ turma.numero }}</div>

      <div class="logradouro chave">Série:</div>
      <div class="logradouro valor">{{ turma.serie }}ª</div>

    </div>

    <h1>Alunos</h1>

    <!-- campo busca -->
    <ion-searchbar
      [(ngModel)]="textoBusca"
      placeholder="Buscar Alunos"
      (ionChange)="filtraAlunos()"
    ></ion-searchbar>

    <!-- lista de alunos -->
    <ion-list *ngIf="alunos">
      <!-- item aluno -->
      <ion-item
        *ngFor="let aluno of alunosFiltrados"
        [ngClass]="['hoverable', 'pointable']"
        [routerLink]="['/aluno', aluno.id]"
      >
        <!-- conteúdo do item escola -->
        <div class="turma conteudo-item">

          <!-- nome -->
          <div class="nome">
            <div class="texto">
              <h1 class="condeúdo">{{ aluno.nome }}</h1>
            </div>
          </div>

          <!-- matrícula -->
          <div class="matricula">
            <ion-icon name="location-sharp"></ion-icon>
            <div class="texto">Matrícula: {{ aluno.matricula }}</div>
          </div>

          <!-- fone -->
          <div class="fone">
            <ion-icon name="call-sharp"></ion-icon>
            <div class="texto">{{ aluno.fone }}</div>
          </div>

          <!-- email -->
          <div class="email">
            <ion-icon name="mail-sharp"></ion-icon>
            <div class="texto">{{ aluno.email }}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="error && !loading">{{error}}</div>
  <div *ngIf="loading">Carregando...</div>
</ion-content>
