<!-- Cabeçalho -->
<ion-header>
  <ion-navbar>
    <ion-title>Escolas</ion-title>
  </ion-navbar>
</ion-header>

<!-- Conteúdo -->
<ion-content padding>

  <!-- <ion-item lines="full">
    <ion-label>CEP</ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item> -->

  <!-- campo busca -->
  <ion-searchbar
    [(ngModel)]="textoBusca"
    placeholder="Buscar Escolas"
    (ionChange)="filtraEscolas()"></ion-searchbar>

  <!-- lista de escolas -->
  <ion-list *ngIf="escolas">

    <!-- item escola -->
    <ion-item
      *ngFor="let escola of escolasFiltradas"
      [ngClass]="['hoverable', 'pointable']"
      [routerLink]="['/escola', escola.id]">

      <!-- conteúdo do item escola -->
      <div class="turma conteudo-item">

        <!-- nome -->
        <div class="nome">
          <div class="texto">
            <h1 class="condeúdo">{{ escola.nome }}</h1>
          </div>
        </div>

        <!-- endereco -->
        <div class="endereco">
          <ion-icon name="location-sharp"></ion-icon>
          <div class="texto">{{ escola.endereco }}</div>
        </div>

        <!-- fone -->
        <div class="fone">
          <ion-icon name="call-sharp"></ion-icon>
          <div class="texto">{{ escola.fone}}</div>
        </div>

        <!-- email -->
        <div class="email">
          <ion-icon name="mail-sharp"></ion-icon>
          <div class="texto">{{ escola.email }}</div>
        </div>

      </div>

    </ion-item>

  </ion-list>

</ion-content>
